.frame1{
    height: 100vh;
    width: 100%;
    position: relative;
}

.graphik{
    background-image: url(/assets/IMG/frame1BG.svg);
    position: absolute;

    width: 785px;
    height: 729px;
    background-repeat: no-repeat;
    margin-left: 6%;
    z-index: 998;
}
.photoF1{
    background-image: url(/assets/IMG/Frame1\ pic3.png);
    position: absolute;
    width: 890px;
    height: 1208px;
    left: 1100px;
    top: 80px;
}

